module {{ .Title }}

go 1.21

require (
	github.com/gin-gonic/gin v1.9.1
	github.com/spf13/cobra v1.8.0
	github.com/spf13/viper v1.18.2
	github.com/swaggo/files v0.0.0-20220610248352-0f1b7c4b9c22
	github.com/swaggo/gin-swagger v1.5.3
	github.com/swaggo/swag v1.16.6
	github.com/sony/sonyflake v1.1.0
	go.uber.org/zap v1.26.0
	gopkg.in/natefinch/lumberjack.v2 v2.2.1
	gorm.io/driver/mysql v1.5.2
	gorm.io/driver/sqlite v1.5.4
	gorm.io/gorm v1.25.5
)